body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.gameTile{
    /*border:2px solid;
    background-color: lightgray;
    display:inline-block;
    text-align: center;
    
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    padding-top:20px;
    padding-bottom:20px;*/
    font-size:20px;
    /*padding:1px;*/
    margin:0px;
    display:inline-block;
    font-family: "Courier";
    /*margin:3px;*/
}





/*NAVIGATION BAR CSS*/
.nav{
  margin-top:0px;
}

.nav ul {
    list-style-type: none;
    margin-left: 20%;
    margin-right:20%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
    background-color: #111;
}